.banner{
    display: block;
    margin: 0;
    width: 100wh;
    height: 60vh;
    position: relative;
}

.bannerText{
    position: relative;
    top: 100px;
    z-index: 20;
    text-align: center;
    font-size: x-large;
}